{
  "plugins": [
    [
      "transform-object-rest-spread",
      "transform-object-assign",
      "transform-runtime",
      {
        "polyfill": false
      }
    ]
  ],
  "presets": ["env","stage-0"]
}